@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
  display: flex;
  flex-direction: column;
  max-width: 882px;
  min-height: 74px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
}
