.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 150px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-self: center;
}
